<form
  class="flex flex-column gap-3"
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
>
  <div class="flex flex-column gap-2">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="submitted && usernameControl.invalid">
        <span *ngIf="usernameControl.errors?.['required']">
          Username is required
        </span>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="flex flex-column gap-2">
    <mat-form-field>
      <mat-label>Email Adddress</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="submitted && emailControl.invalid">
        <span *ngIf="emailControl.errors?.['required']">
          Email is required
        </span>
        <span *ngIf="emailControl.errors?.['email']">
          Enter a valid email
        </span>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="flex flex-column gap-2">
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="submitted && passwordControl.invalid">
        <span *ngIf="passwordControl.errors?.['required']">
          Password is required
        </span>
      </mat-error>
    </mat-form-field>
  </div>

  <!-- <div class="flex flex-column gap-2">
    <auth-password-field formControlName="password"></auth-password-field>
  </div> -->

  <button mat-flat-button color="primary" type="submit">Create Account</button>

  <div class="flex flex-column gap-1">
    <label>Creating an account means you're agree with our</label>
    <label>
      <a [routerLink]="['/']">Terms and Conditions</a>
    </label>
  </div>
</form>
