<form
  class="flex flex-column gap-3"
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
>
  <div class="flex flex-column gap-2">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>
  </div>

  <div class="flex flex-column gap-2">
    <mat-form-field>
      <mat-label>Email Adddress</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
  </div>

  <div class="flex flex-column gap-2">
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <button mat-flat-button color="primary" type="submit">Create Account</button>

  <div class="flex flex-column gap-1">
    <label>Creating an account means you're agree with our</label>
    <label>
      <a [routerLink]="['/']">Terms and Conditions</a>
    </label>
  </div>
</form>

<!-- <form
  class="flex flex-column gap-3"
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
>
  <div class="flex flex-column gap-2">
    <label htmlFor="username">Username</label>
    <input
      type="text"
      pInputText
      formControlName="username"
      [ngClass]="{
        'ng-invalid ng-dirty': submitted && usernameControl.invalid
      }"
      required
    />
    <div *ngIf="submitted && usernameControl.invalid">
      <small *ngIf="usernameControl.errors?.['required']">
        Username is required
      </small>
    </div>
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="email">Email Address</label>
    <input
      type="email"
      pInputText
      formControlName="email"
      [ngClass]="{
        'ng-invalid ng-dirty': submitted && emailControl.invalid
      }"
      required
    />
    <div *ngIf="submitted && emailControl.invalid">
      <small *ngIf="emailControl.errors?.['required']">
        Email is required
      </small>
      <small *ngIf="emailControl.errors?.['email']">
        Enter a valid email
      </small>
    </div>
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="password">Password</label>
    <p-password
      inputStyleClass="w-full"
      styleClass="w-full p-password p-component p-inputwrapper p-input-icon-right"
      formControlName="password"
      [toggleMask]="true"
      [feedback]="false"
      [ngClass]="{
        'ng-invalid ng-dirty': submitted && passwordControl.invalid
      }"
      required
    />
    <div *ngIf="submitted && passwordControl.invalid">
      <small *ngIf="passwordControl.errors?.['required']">
        Password is required
      </small>
    </div>
  </div>

  <p-button
    type="submit"
    styleClass="w-full justify-content-center"
    [label]="loading ? 'Getting started' : 'Get started'"
    [loading]="loading"
  >
  </p-button>

  <div class="flex flex-column gap-1">
    <label>Creating an account means you're agree with our</label>
    <label>
      <a [routerLink]="['/']">Terms and Conditions</a>
    </label>
  </div>
</form> -->
