<form
  class="flex flex-column gap-3"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
>
  <div class="flex flex-column gap-2">
    <label>Email</label>
    <mat-form-field>
      <input matInput formControlName="email" placeholder="Enter your email address" />
      <mat-error *ngIf="emailControl.invalid">
        <span *ngIf="emailControl.errors?.['required']">
          Email is required
        </span>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="flex flex-column gap-2">
    <label>Password</label>
    <mat-form-field>
      <!-- <mat-label>Enter your password</mat-label> -->
      <input
        matInput
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="submitted && passwordControl.invalid">
        <span *ngIf="passwordControl.errors?.['required']">
          Password is required
        </span>
      </mat-error>
    </mat-form-field>
  </div>

  <button mat-flat-button color="primary" type="submit">Sign In</button>

  <div class="flex flex-row align-items-center">
    <a [routerLink]="['/login']">Forget your password?</a>
  </div>
</form>
