<form
  class="flex flex-column gap-3"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
>
  <div class="flex flex-column gap-2">
    <mat-form-field>
      <mat-label>Email Address</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
  </div>

  <div class="flex flex-column gap-2">
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <button mat-flat-button color="primary" type="submit">Sign In</button>

  <div class="flex flex-row align-items-center">
    <a [routerLink]="['/login']">Forget your password?</a>
  </div>
</form>

<!-- <label>Email Address</label>
    <input
      pInputText
      type="email"
      class="w-full"
      formControlName="email"
      [ngClass]="{
        'ng-invalid ng-dirty': submitted && emailControl.invalid
      }"
    />

    <div *ngIf="submitted && emailControl.invalid">
      <small *ngIf="emailControl.errors?.['required']" class="ng-invalid">
        Email is required
      </small>
    </div> -->

<!-- <label>Password</label>
    <p-password
      inputStyleClass="w-full"
      styleClass="w-full p-password p-component p-inputwrapper p-input-icon-right"
      [ngClass]="{
        'ng-invalid ng-dirty': submitted && passwordControl.invalid
      }"
      formControlName="password"
      [toggleMask]="true"
      [feedback]="false"
    />

    <div *ngIf="submitted && passwordControl.invalid">
      <small *ngIf="passwordControl.errors?.['required']" class="ng-invalid">
        Password is required
      </small>
    </div> -->
