<form
  class="flex flex-column gap-3"
  [formGroup]="articleForm"
  (ngSubmit)="onPublish()"
>
  <mat-form-field appearance="fill">
    <input matInput formControlName="title" placeholder="Title" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <textarea
      matInput
      formControlName="description"
      placeholder="Description"
    ></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <textarea matInput formControlName="body" placeholder="Body"></textarea>
  </mat-form-field>

  <!-- <mat-form-field>
    <mat-label>Tag</mat-label>
    <textarea matInput></textarea>
  </mat-form-field> -->

  <button mat-flat-button color="primary" type="submit">Publish</button>
</form>
