<div
  class="h-screen flex flex-column justify-content-center align-items-center"
>
  <h1>Sign up</h1>

  <form
    class="flex flex-column w-20rem gap-3"
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="flex flex-column">
      <label>Username</label>
      <input type="username" pInputText formControlName="username" />
      <div *ngIf="usernameControl.invalid && usernameControl.dirty">
        <div *ngIf="usernameControl.errors?.['required']">
          Username is required
        </div>
      </div>
    </div>

    <div class="flex flex-column">
      <label>Email</label>
      <input type="email" pInputText formControlName="email" />
      <div *ngIf="emailControl.invalid && emailControl.dirty">
        <div *ngIf="emailControl.errors?.['required']">Email is required</div>
        <div *ngIf="emailControl.errors?.['email']">Enter a valid email</div>
      </div>
    </div>

    <div class="flex flex-column">
      <label>Password</label>
      <p-password
        inputStyleClass="w-full"
        styleClass="w-full p-password p-component p-inputwrapper p-input-icon-right"
        formControlName="password"
        [toggleMask]="true"
      />
      <div *ngIf="passwordControl.invalid && passwordControl.dirty">
        <div *ngIf="passwordControl.errors?.['required']">
          Password is required
        </div>
      </div>
    </div>

    <p-button
      type="submit"
      styleClass="w-full justify-content-center"
      label="Sign up"
      [loading]="submitted"
    >
    </p-button>

    <div class="flex flex-row align-items-center gap-2">
      <p>Already have an acount?</p>
      <a [routerLink]="['/login']">Log in</a>
    </div>
  </form>
</div>
