<mat-toolbar class="absolute w-full justify-content-between">
  <span>My Application</span>
  <span class="example-spacer"></span>

  <button mat-button (click)="whoAmI()">whoami</button>

  <div *ngIf="user$ | async as user; else noAuth">
    <button mat-button (click)="onLogout()">Logout</button>
  </div>

  <ng-template #noAuth>
    <button mat-button routerLink="/login">Log in</button>
    <button mat-flat-button color="primary" routerLink="/register">
      Create account
    </button>
  </ng-template>
</mat-toolbar>
