.example-spacer {
  flex: 1 1 auto;
}

.avatar {
  width: 2rem;
  height: 2rem;

  padding: 0px;

  // mimic button's padding
  margin-left: 8px;
  margin-right: 8px;

  img {
    width: 100%;
    height: 100%;

    border-radius: 50%;
  }
}
